.App{
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.App--blob{
  position: absolute;
  height: 50%;
  width: 50%;
  left: 100%;
  top:0%;
  transform: translate(-100%,0%);   
}
.App h1 {
  font-size: 5rem;
  line-height: 37px;
  text-align: center;
  margin-bottom: 50px;
  color: #293264;
}
.App p {
  font-size: 3rem;
  max-width: 50%;
  line-height: auto;
  text-align: center;
  margin-bottom: 90px;
  color: #293264;
}
.App button {
  font-size: 3rem;
  background: #4d5b9e;
  border-radius: 15px;
  padding: 16px 50px;
  margin:0 auto;
  display:block;
  border: none;
  outline: none;
  color:white;
}
.App--catAndDif{
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.App--catAndDif select{
  font-size: 1.5rem;
  width: 150px;
  padding: 0.5rem;
  outline: none;
}

small{
  color: rgb(163, 168, 172);
  font-size: 12px;
  position: absolute;
  bottom: 5%;
}
small a{
  text-decoration: none;
  color: steelblue;
}

@media screen and (min-width:768px) {
  
}